<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online shop </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1> Welcome to online shop</h1>
    <form class="form-signin" method="post" th:action="@{/}">
        <h2 class="form-signin-heading">Login</h2>
        <h2 class="alert-danger" th:text="${error}"></h2>
        <p>
            <label for="username">Username</label>
            <input type="text" th:value="${username}" id="username" name="username" class="form-control" placeholder="Username" required >
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <p>
            <input type="checkbox" th:valuetype="${agreement}" id="agreement" name="agreement">
            <label for="agreement"> I accept this agreement </label>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
    </form>
</div>
</body>
</html>
