<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 th:text="'Number of your order is: '+${session.order.id}"></h1>
    <h1 th:text="'Sum of your order is: '+${session.order.totalPrice}+'$'"></h1>
    <h2>
        List of goods you ordered:<br/>
        <ul class="list-group" id="food">
            <div th:each="item:${items}">
                <li class="list-group-item" th:text="${item.title}+' '+${item.price}+'$'"></li>
            </div>
        </ul>
    </h2>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn-primary">Logout</button>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
    </form>
    <ul class="list-group" id="orders">
        <h2>Orders history</h2>
        <div th:each="order:${orders}">
            <li class="list-group-item active" th:text="'Order №'+ ${order.id}"></li>
            <li class="list-group-item" th:each="good:${order.goods}"
                th:text="${good.title}+' '+${good.price}+'$'"></li>
        </div>
    </ul>
</div>
</body>
</html>