<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 th:text="'Hello '+${session.user.name}+'!'"/>
    </h1>
    <h2>
        Make your order
    </h2>
    <form method=post th:action="@{/shop}">
        <div th:each="good : ${goods}">
            <input type=checkbox th:valuetype="${items}" name=items th:value="${good.id}">
            <label th:text="${good.title}+' '+${good.price}+'$'"></label><br/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type=submit>Add item</button>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
    </form>
    <form method=post th:action="@{/order}">
        <button class="btn btn-lg btn-dark btn-primary btn-block" type=submit th:name="items" th:value="${items}">Watch
            order
        </button>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
    </form>
    <ul class="list-group" id="food">
        <tr th:each="item : ${items}">
            <td><span th:text="${item.title}+' '+${item.price}+'$'"> Title </span></td>
        </tr>
    </ul>
</div>
</body>
</html>